.container{
    display:flex;
    justify-content: space-between;
    width:90%;
    justify-self: center;
    background-color: aqua;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
}
.naam{
    color: red;
    font-weight: 900;
    padding-right: 10px;
}
.date{
    background-color: rgb(32, 29, 29);
    color: rgb(243, 247, 224);
    border-radius: 10px;
    width: 80px;
    margin: 2px;
    padding: 9px;
    .firstDate{
        font-weight:900;
    }
}